body {
    font-family: "Ga Maamli", serif;
    font-weight: 400;
    font-style: normal;
}

/* Light Mode */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Optional: Style for containers to adjust based on dark mode */
.app-container {
  background-color: inherit; /* Inherits body background */
  color: inherit; /* Inherits text color */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Example for other elements (like buttons, cards, etc.) */
button, .navbar, .stream-list-item {
  background-color: inherit; /* So elements inherit body background */
  color: inherit; /* So text color changes with dark mode */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

/* Navbar items */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  text-align: center;
  justify-content: center;
}

.navbar ul li {
  cursor: pointer;
}

/* Adjust icon color based on dark mode */
.toggle {
  font-size: 1.5rem;
  cursor: pointer;
  color: inherit; /* Inherit color based on dark or light mode */
}

